# This file lists the python packages that your software depends on
# for development.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
-r requirements.txt
coverage
mock
pyfakefs
parameterized
pylint
sphinx
sphinx_rtd_theme
pyinstaller
pytest
tox
