# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
ndicapi>=3.7.2
numpy>=1.11
six>=1.10
scikit-surgerycore>=0.7.1
pyserial
